*{
  margin: 0;
  padding: 0;
}
.parte1{
  margin: 60px 80px;
  width: 970px
  height:1390px


}
.parte2{
  margin: 10px 30px 20px 40px;
  width: 900px;
  height: 600px;
  background-color:green;
  display: inline-block;

}
.parte3{
  margin: 0px 10px 30px 60px;
  width: 900px;
  height: 400px;
  background-color:red;
  display: inline-block;
}
.parte4{
  margin: 0px 40px 30px 30px;
  width: 900px;
  height: 300px;
  background-color:blue;
  display:

}

.ejercicio{
  margin: 60px 80px;
  width: 895px;
  height: 950px;
  background-color: blue;
  display: inline-block;

}
.ejercicio1{
  margin: 30px 20px 0px 40px;
  width: 835px;
  height: 260px;
  background-color: black;
  display: inline-block;
}
article>div{
  margin: 30px 15px 0px 20px;
  width: 800px;
  height: 100px;
  background-color: red;
  display: inline-block;
}
article>nav{
  margin: 20px 15px 10px 20px;
  width: 800px;
  height: 100px;
  background-color: purple;
  display: inline-block;
}
.ejercicio2{
margin: 15px 30px 0px 30px;
width: 835px;
height: 350px;
background-color: pink;
display: inline-block;
}
article>section{
  margin: 30px 25px 20px 10px;
  width: 800px;
  height: 300px;
  background-color: green;
  display: inline-block;
}
.ejercicio3{
  margin: 20px 15px 25px 25px;
  width: 835px;
  height: 250px;
  background-color: brown;
  display: inline-block;
}
.sg{
  margin: 40px 30px;
  width: 980px;
  height: 830px;
  background-color:black;
  display: inline-block;
}
.sg1{
  margin: 10px 40px 0px 40px;
  width: 900px;
  height: 300px;
  background-color: white;
  display: inline-block;

}
.sg2{
  margin: 30px 50px 0px 30px;
  width: 900px;
  height: 240px;
  background-color: green;
  display: inline-block;
