*{
  margin: 0;
  padding: 0;
}
.parte1{
  margin: 60px 80px;
  width: 970px
  height:1390px


}
.parte2{
  margin: 10px 30px 20px 40px;
  width: 900px;
  height: 600px;
  background-color:green;
  display: inline-block;

}
.parte3{
  margin: 0px 10px 30px 60px;
  width: 900px;
  height: 400px;
  background-color:red;
  display: inline-block;
}
.parte4{
  margin: 0px 40px 30px 30px;
  width: 900px;
  height: 300px;
  background-color:blue;
  display:

}

.ejercicio{
  margin: 60px 80px;
  width: 895px;
  height: 950px;
  background-color: blue;
  display: inline-block;

}
.ejercicio1{
  margin: 30px 20px 0px 40px;
  width: 835px;
  height: 260px;
  background-color: black;
  display: inline-block;
}
article>div{
  margin: 30px 15px 0px 20px;
  width: 800px;
  height: 100px;
  background-color: red;
  display: inline-block;
}
article>nav{
  margin: 20px 15px 10px 20px;
  width: 800px;
  height: 100px;
  background-color: purple;
  display: inline-block;
}
.ejercicio2{
margin: 15px 30px 0px 30px;
width: 835px;
height: 350px;
background-color: pink;
display: inline-block;
}
article>section{
  margin: 30px 25px 20px 10px;
  width: 800px;
  height: 300px;
  background-color: green;
  display: inline-block;
}
.ejercicio3{
  margin: 20px 15px 25px 25px;
  width: 835px;
  height: 250px;
  background-color: brown;
  display: inline-block;
}
.pg{
  margin: 40px 30px;
  width: 980px;
  height: 830px;
  background-color: black;
  display: table;

}
.pg1{
  margin: 10px 40px 0px 40px;
  width: 900px;
  height: 300px;
  background-color: red;
  display: table;

}
.pg2{
  margin: 30px 50px 0px 30px;
  width: 900px;
  height: 240px;
  background-color: red;
  display: table;

}
article>nav.nav1{
  margin: 10px 15px 0px 15px;
  width: 850px;
  height: 100px;
  background-color: green;
  display: table;

}
article>nav.nav2{
  margin: 20px 15px 10px 15px;
  width: 850px;
  height: 100px;
  background-color: green;
  display:table;

}
.pg3{
  margin: 40px 60px 10px 20px;
  width: 900px;
  height: 200px;
  background-color: red;
  display:table;

}
article>div.nav3{
  margin: 30px 60px 10px 30px 20px;
  width: 860px;
  height: 140px;
  background-color: green;
  display: table;

}
article>div>section{
  margin: 20px;
  width: 820px;
  height: 100px;
  background-color: blue;
  display: table;
}
article>div>section>nav{
  margin: 10px 20px;
  width: 780px;
  height: 80px;
  background-color: white;
  display: table;

}
.ej1{
  margin: 40px 40px;
  width: 1000px;
  height: 1200px;
  background-color: black;
  display: table;
}
.ej2{
  margin: 20px;
  width: 960px;
  height: 1160px;
  background-color: white;
  display: table;

}
.ej3{
  margin: 30px;
  width: 900px;
  height: 1100;
  background-color: red;
  display: table;

}.ej4{
  margin: 20px 10px 0px 10px;
  width: 880px;
  height: 520px;
  background-color: yellow;
  display: table;

}
.ej5{
  margin: 20px 10px 20px 10px;
  width: 880px;
  height: 520px;
  background-color: yellow;
  display: table;

}
.ej6{
margin: 10px 20px 0px 20px;
width: 840px;
height: 500px;
background-color: green;
display: table;

}
.ej7{
  margin: 10px 20px 10px 20px;
  width: 840px;
  height: 500px;
  background-color: green;
  display: table;

}
.ej8{
  margin: 20px 30px 20px 30px;
  width: 780px;
  height: 460px;
  background-color: purple;
  display: table;

}
.ej9{
  margin: 20px 30px 20px 30px;
  width: 780px;
  height: 460px;
  background-color: purple;
  display: table;

}
.px{
  margin: 70px 60px;
  width: 920px;
  height: 1480;
  background-color: black;
  display: table;

}
.px1{
  margin: 20px 60px 0px 60px;
  width: 820px;
  height: 1200px;
  background-color: white;
  display: table;

}
.px2{
  margin: 20px 30px 0px 30px;
  width: 760px;
  height: 300px;
  background-color: green;
  display: table;

}
.px3{
  margin: 30px 20px 0px 40px;
  width: 760px;
  height: 300px;
  background-color: green;
  display: table;

}
.px4{
  margin: 15px 40px 0px 20px;
  width: 760px;
  height: 200px;
  background-color: green;
  display: table;

}
.px5{
  margin: 15px 45px 20px 15px;
  width: 760px;
  height: 200px;
  background-color: green;
  display: table;
}
.px6{
  margin: 40px 100px 60px 100px;
  width: 700px;
  height: 200px;
  background-color: purple;
  display: table;
}
